
<nav   class="header">
  <div class="menu">
      <a [routerLink]="['/home']" routerLinkActive="active">
        Accueil
      </a>
      <a [routerLink]="['/dashbaord']" routerLinkActive="active">
        Dashbaord
      </a>
      <a [routerLink]="['/profile']" routerLinkActive="active">
        Profile
      </a>
  </div> 
  <div class="button-link" routerLinkActive="active">
      <a [routerLink]="['/login',{form:'log'}]" >
        <button  *ngIf="!loginService.isLoggedIn" class="button-login ">
         LOGIN 
       </button>   
      </a>
      <a  >
        <button (click)="logout()" *ngIf="loginService.isLoggedIn" class="button-login ">
         LOGOUT
       </button>   
      </a>
      <a [routerLink]="['/login',{form:'reg'}]"  >
        <button  *ngIf="!loginService.isLoggedIn" class="button-login ">
         REGISTER
       </button>   
      </a>
  </div>
      
</nav>