 <section class="home-section">
  <div class="home-container">
   
      <h1  class="title-home">
               WELCOME TO MYAPP LEARNING ANGULAR BY DOING.
      </h1>  
      <!-- <ul class="list-items-ville">
          <li class="item-ville"   *ngFor="let met of meteos">
              <a [routerLink]="['/details',met.name]" routerLinkActive="active">
                {{met.name}}
             </a>
         </li>
      </ul> -->
      <!-- <div>{{ book.title }}</div> -->
     <!-- <ul *ngIf="isAvailable" class="list-items-ville">
        <li  (click)="onSelect(met)" class="item-ville"  *ngFor="let met of meteos" [class.villeSelected]="met.nameVille === villeSelected">
              {{met?.nameVille}}
       </li>
    </ul> -->
  
  </div>
  
</section> 
