.dashboard-section{
    padding-top:6rem;
    width:100%;
    /* height:20rem; */
    display:flex;
    justify-content: center;
    align-items: center;
}
li.villeSelected{
    background-color: rgb(163, 168, 170);
    color: white;
  }
   li.villeSelected:hover {
    background-color: #27747c
  }
  .item-ville{
    list-style-type: none;
    padding: 0.5rem;
    color: black;
    margin:1rem;
    border-radius: 0.4rem;
    cursor: pointer;
    background-color: #EEE;
  }
  .item-ville:hover{
    color: white;
    background-color:grey;
  }
  .list-items-ville{
    padding:0;
  }