<section class="dashboard-section">
    <div class="dashboard-container">
        
 
    <div class="dashboard-meteo">
        

         <app-button-search (meteoGen)="afficherDetailsMeteo($event)" [meteos]="meteos" [villeSelected]="villeSelected"></app-button-search> -
        <!-- <app-button-search (villeGen)="trouverVille($event)" ></app-button-search> -->
         
        <!-- <app-meteo-list (meteoGen)="afficherDetailsMeteo($event)" [meteo]="met" [villeForSearch]="villeForSearch" *ngFor="let met of (meteos | search:villeForSearch)"  [villeSelected]="villeSelected" ></app-meteo-list> -->
    </div>
           
    </div>
  </section>