.details-section{
    display:flex;
    width:100%;
    height:20rem;
    flex-direction: column;
    justify-content: flex-start;
  
    align-items: center;
    padding-top:6rem;
  }
  .button-login{
    border:none;
    background-color:#217781;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    height:2rem ;
    color: white ;
    font-weight: 500;
    cursor: pointer;
    margin-top:3rem;
    
}
.button-login:focus{
  outline:none;
  

}
